/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

@import '~toastr/build/toastr.css';

body{
    padding-top: 80px;
}

.toast-top-full-width {
  top: 60px !important;
  right: 0;
  width: 100%;
}
